* {
    background-color: brown;
}

i {
    color: rgb(227, 149, 6);
}

span {
    color: rgb(193, 123, 2);
}

#pets {
    display: flex;
    justify-content: space-evenly;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card {
    width: 300px;
    border: 1px solid rgb(184, 115, 4);
    border-radius: 15px;
    font-size: 12px;
    padding: 10px;
    margin: 10px;
    color: rgb(225, 143, 1);
}

h4 {
    font-family: Arial;
    text-align: center;
    color: #000;
}

@media (max-width:600px) {
    #pets {
        flex-wrap: wrap;
    }
}